/*
	 Organic Tabs
	 by Chris Coyier
	 http://css-tricks.com
*/


a { text-decoration: none; }
a:focus { outline: 0; }

#page-wrap { width: 440px; margin: 80px auto; }


/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }


/* Specific to example one */

#example-one { background: #eee; padding: 10px; margin: 0 0 20px 0;}
#example-one .nav { overflow: hidden; margin: 0 0 10px 0; }
#example-one .nav li { width: auto; float: left; margin: 0 10px 0 0; }
#example-one .nav li.last { margin-right: 0; }
#example-one .nav li a { display: block; padding: 5px; background: #959290; color: white; font-size: 10px; text-align: center; border: 0; }
#example-one .nav li a:hover { background-color: #0575f4; }

#example-one ul { list-style: none; }
#example-one ul li a { display: block; padding: 4px; color: #666; }
#example-one ul li a:hover { background: #66FFFF; color: white; }
#example-one ul li:last-child a { border: none; }

#example-one ul li.nav-one a.current, #example-one ul.featured li a:hover { background-color: #0575f4; color: white; }
#example-one ul li.nav-two a.current, #example-one ul.core li a:hover { background-color: #0575f4; color: white; }
#example-one ul li.nav-three a.current, #example-one ul.jquerytuts li a:hover { background-color: #0575f4; color: white; }
#example-one ul li.nav-four a.current, #example-one ul.classics li a:hover { background-color: #0575f4; color: white; }
