body
{
font-family:Arial, Helvetica, sans-serif;
}
html
{
 width:100%;
 height:100%;
 background: url('../images/bg5.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container
{
 width:90%;
 margin-left:auto;
 margin-right:auto;

}
.header
{
 /*background: url('../images/pattern2.jpg'); */ 
 padding-left:2%; 
 width:98%;
 height:12%;
 background-color:#0099FF;
 border-style:solid;
 border-radius:15px;
 
}
.content
{
 width:99%;
 padding-left:1%;
 background-color:white;
 margin-top:1%;
 opacity:0.8;
 border-style:solid;
 border-radius:15px;
 padding-bottom:2%;
}

.footer
{
 margin-top:1%;
 width:100%;
 height: 7%;
 background-color:#0099FF;
 border-style:solid;
 border-radius:15px;
 text-align:center;
 padding-top:1%;
 margin-bottom:1%;padding-bottom:2%;
 }
 
.title
{
 width:auto;
 height:50px;
 background-color:#00CCFF;
 -moz-border-radius: 5px 15px 15px 5px;
 border-radius: 5px 25px 25px 5px; 
 box-shadow: 5px 5px 3px #888888;
 padding-top:1px;
 padding-right:30px;
 float:left;
}


/*Clearfix used to solve problem of floating div's in a parent div */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
/* End clearfix */

.register
{
-webkit-box-shadow: 0 0 5px #666;
background: #eee;

width:70%;
border-style:solid;
 border-radius:15px;
 margin-left:auto; margin-right:auto; padding: 10px
}

.register1
{
-webkit-box-shadow: 0 0 5px #666;
background: #eee;

width:70%;
border-style:solid;
 border-radius:15px;
 margin-left:auto; margin-right:auto; padding: 10px
}




h1 {text-align:center;}

p{text-align:center;}
#page {
    max-width: 540px;
    min-width: 520px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #ffffff;}
	body {
 font-family: Arial, Verdana, sans-serif;
 color: #111111;}
table {
 width: 60%;
 }
th, td {
 padding: 7px 10px 10px 10px;
 
 }
th {
 text-transform: uppercase;
 letter-spacing: 0.1em;
 font-size: 20px;
 border-bottom: 2px solid #111111;
 border-top: 1px solid #999;
 text-align: center;}

 a {
    color: #000000;
    text-transform: uppercase;
    
    }
   a:hover, a.on {
    color: #cc3333;
    background-color: #ffffff;}
#rev
{
max-width: 540px;
min-width: 520px;
text-align:center;
margin: 10px auto 10px auto;
padding: 20px;
border: 4px double #000;
background-color: #ffffff;
}
#news{
	padding:30px;
	width:300px;
	margin:0 auto;
	float: left;
}

#news p{color:#fff; padding:10px 0; text-align:center;}
		.nav{}
	
	#wrapper a{color:#e8914c; text-decoration:none; border-bottom:1px dotted #e8914c;}
		#wrapper a:hover{color:#eab209; border-bottom:1px dotted #eab209;}





#content{
	height:400px;
	overflow:hidden;
	margin:0; padding:0;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);
}

#content li{
padding:35px 20px;
display:block;
background:#efefef;
color:#333;
border-bottom:1px solid #ddd;
text-align:center;
font-size:25px;
font-weight:bold;
font-family: Helvetica Neue, times, serif;
}
	
   